In [1]:
import pandas as pd

In [10]:
CDS_PATH = "../../data/whole_corpus/df_cds_agg.csv"
CS_PATH = "../../data/whole_corpus/df_cs_agg.csv"

In [11]:
df_cds = pd.read_csv(CDS_PATH)
df_cs = pd.read_csv(CS_PATH)

In [12]:
df_cds[df_cds["word"] == "doll"]

      Unnamed: 0  word      pfgw  freq        OR       LOR
8754        8754  doll  0.722858   826  2.608703  0.958853

In [13]:
df_cds[df_cds["word"] == "dolly"]

       Unnamed: 0   word      pfgw  freq         OR       LOR
21877       21877  dolly  0.938698   481  15.315554  2.728869

In [6]:
df_cs[df_cs["word"] == "mom"]

      Unnamed: 0 word     pfgw  freq        OR       LOR
8289        8289  mom  0.32623  1830  0.483986 -0.725698

In [7]:
df_cs[df_cs["word"] == "mommy"]

      Unnamed: 0   word      pfgw  freq       OR       LOR
9599        9599  mommy  0.567618  4274  1.31326  0.272513